<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <style>
    table {
        border-collapse: collapse;
        width: 80%;
        }

    table, th, td {
        border: 1px solid black;
        height: 50px;
    }

    .form{
    margin-top: 80px;
    }
    </style>

    {% block head %}
    data
    {% endblock %}
</head>
<body>
    {% block body %}
    data
    {% endblock %}
</body>
</html>